@model IEnumerable<asp.net_mvc_webapp.Models.Exam1>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* passing data controller to view *@

@{int i = 1;}
@foreach (var item in Model)
{
    //if (ViewBag.Message == i)
    //{
        <h2>@item.Name</h2>
        //}
        i++;
    }

