@*@model asp.net_mvc_webapp.Model*@
@model IEnumerable<asp.net_mvc_webapp.Models.Exam1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<table class="table table-bordered table-hover">
    <tr>
        <td>
            <b>Customer</b>
        </td>
    </tr>
    @{int i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink(@item.Name, "Details", "Exam1", new { id = @i }, null)</td>
            @{i++;}
        </tr>
    }
    <tr>
        <td>
            enable-migrations
            add-migration InintialModel
            add-migration InintialModel -force
            update-database
            add-migration AddIsSubscribedToCustomer
            Update-Database
        </td>
    </tr>
</table>
